<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <action id="com.sallon.archinstaller.run">
    <description>Executar o instalador do sistema</description>
    <message>Autenticação necessária para executar o instalador do sistema</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/arch-installer/bin/arch-installer</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
